@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400;700&display=swap');

* {
	margin:0;
	padding:0;
	font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

body {
	color: #0B1013;
    font-family: Arial, sans-serif;
    background-color: #91B493;
}

h1 {
    text-align: center;
    font-size: 35px;
}

h4 {
    text-align: center;	
    padding: 20px 0 0 0;
}

p{
	text-align: center;
}

form {
    background-color: #fff;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 400px;
}

form input[type="text"], form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #0B1013;
    border-radius: 4px;
}

.form-label {
    color:#0B1013;
}

form input[type="submit"] {
	justify-content: center;
    background-color: #D7C4BB;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s cubic-bezier(0.5, 1, 0.89, 1);
}

form input[type="submit"]:hover {
    background: rgb(0, 0, 0);
  	color: #D7C4BB;
  	transform: scale(1.1);
}

/* Link styles */
a {
    color: #0B1013;
    text-decoration: none;
    text-align: left;
}

a:hover {
    text-decoration: underline;
}

hr {
    margin: 20px 0;
    border-top: 1px solid #ddd;
}
