@charset "UTF-8";

* {
	margin:0;
	padding:0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #cc944c;
}

h1 {
    color:#3c241c;
    text-align: center;
}

h4 {color: #3c241c;
    text-align: center;	
    
}


form {
    background-color: #fff;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 400px;
}

form input[type="text"], form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #cc944c;
    color:#cc944c;
    border-radius: 4px;
}

.form-label {
    color:#cc944c;
}


form input[type="submit"] {
    background-color: #cc944c;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Link styles */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    margin: 20px 0;
    border-top: 1px solid #ddd;
}
